Introduction to python programming

In [1]:
print("Hello World")
print("Welcome to PDA")

Hello World
Welcome to PDA

Indentation

In [2]:
print("I have no indentation")
print("    I have indentation")

I have no indentation
    I have indentation

Taking input

In [3]:
name = input("Enter the name:")
print("Hello", name, "Welcome!")

Enter the name: rakchu

Hello rakchu Welcome!

Printing output

In [4]:
s = "ABC"
age =25
P = "India"
print(s,age, P)

ABC 25 India

Taking multiple inputs

In [10]:
x,y,z = input("Enter three numbers:").split()
print("Total number of students:",x)
print("Total number of boys:",y)
print("Total number of girls:",z)

Enter three numbers: 50 26 24

Total number of students: 50
Total number of boys: 26
Total number of girls: 24

python variable

In [11]:
x = 55.7
s = "hello"
print(x)
print(s)

55.7
hello

type casting a varible

In [17]:
i = int(x)
S1 = str(x)
print(i)
print(S1)

55
55.7

getting type of varible

In [2]:
n1 = 55
n2 = 55.6
n3 = "Hello"
n4 = [1,2,3]
n5 = {"a":1,"b":2,"c":3}
n6 = True
print(type (n1))
print(type (n2))
print(type (n3))
print(type (n4))
print(type (n5))
print(type (bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'type'>

python data type
numeric data type

In [4]:
a=5
print(type(a))
b=5.2
print(type(b))
c = 5 + 2j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

Sequence data type

In [6]:
s = "Welcome to PDA"
print(type(s))
print(s)
print(s[1])
print(s[-1])

<class 'str'>
Welcome to PDA
e
A

list

In [7]:
a = []
print(type(a))
b=[1,2,3]
print(b)
c=[1,2.3,"A","Apple"]
print(c)
print(b[0])
print(b[1])
print(b[-1])
print(b[-2])

<class 'list'>
[1, 2, 3]
[1, 2.3, 'A', 'Apple']
1
2
3
2

tuples

In [3]:
t1 = ("class","for","PDA")
t2 = (1,2,3,4,5)
print(type(t1))
print(t2)
print(t1[-1])
print(t2[2])

<class 'tuple'>
(1, 2, 3, 4, 5)
PDA
3

boolean

In [1]:
print(type(False))
print(type(True))
if 1 :
    print("1 is true")
else:
    print("0 is false")

<class 'bool'>
<class 'bool'>
1 is true

sets

In [3]:
s1 = ()
s2 = ("Beautiful day")
s3 = set["A","B","C"]
print(type(s1))
print(s2)
for s in s3:
    print(s, end="")

<class 'tuple'>
Beautiful day
*set['A', 'B', 'C']

dictionary

In [13]:
d1 = {}
d2 = {"a":1, "b":2,"c":3}
d3 = {1:"a",2:"b",3:"c"}
print(d3[1])

a

#TYPECONVERSION
implicit type conversion

In [14]:
x = 10
y = 10.6
z = x+y
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

explicit type conversion

In [17]:
a = "52.6"
b = float(a)
print(type(a))
print(type(b))

s = "Hello world"
t = tuple(s)
u = list(s)
v = set(s)

print(type (s))
print(type(t))
print(type(u))
print(type(v))

<class 'str'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>

OPERATOR

arithmetic operators

In [18]:
a = 17
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

22
12
85
3.4
3
2
1419857

comparison operators

In [19]:
a=7
b=5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

True
False
True
False
True
False

logical operator

In [4]:
a=True
b=False
print(a and b)
print(a or b)
print(not b)

False
True
True

bitwise operator

In [5]:
a=5
b=2
print(a&b)
print(a/b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

0
2.5
-6
7
1
20

Assignment operator

In [8]:
a=10
b=2
a+=b
print(a)
a-=b
print(a)
a>>=b
print(a)
a<<=b
print(a)

12
10
2
8

identify operators

In [9]:
a=10
b=5
c=a
print(c is a)
print(c is not b)

True
True

ternary operator

In [10]:
min=a if a<b else b
print(min)

5

membership operator

In [11]:
x=24
y=20
list1=[10,20,30,40]
if x not in list1:
    print("x not in list1")
if y in list1: 
    print("y is in list1")

x not in list1
y is in list1

questions(find output)

In [13]:
name="Alex"
age=0
if(name=="Alex"or name=="John" and age>=2):
    print("Welcome")
else:
    print("Bye")

Welcome

if statement

In [16]:
a=10
if a>5:
    print("a is greater than 5")

a is greater than 5

if else statement

In [17]:
a=3
if a>5:
    print("a is greater than 5")
else:
    print("a is not greater than 5")

a is not greater than 5

if elif else statement

In [18]:
marks=85
if marks>=90:
    print("Grade A") 
elif marks>=60:
    print("Grade B")
else:
    print("Grade C")

Grade B

short hand if else

In [20]:
x = 10
y = 20
print("x is greater") if x > y else print("y is greater")

y is greater

In [21]:
#nested if else
num = 10
if num > 0:
    if num % 2 == 0: 
        print("Positive Even number")
    else:
        print("Positive Odd number")
else:
    print("Negative number")

Positive Even number

#looping statement
#for loop

In [22]:
 for i in range(1, 6): 
     print(i)

1
2
3
4
5

break

In [23]:
for i in range(1,6):
    if i == 3:
        break 
    print(i)

1
2

continue statement

In [24]:
for i in range(1,6):
    if i == 3:
        continue
    print(i)

1
2
4
5

pass statement

In [25]:
for i in range(5):
    if i== 3:
        pass
        print(i)

3

match case

In [26]:
day = 2
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case _:
        print("Invalid day")

Tuesday

ternary if else

In [27]:
n = 7
result = "Even" if n%2==0 else "odd"
print(result)

odd